img {
    width: 200px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}
.username {
    font-weight: bold;
}
body{
    margin: 0px;
    background-color: lightcyan;
    min-height: 300vh;
}
.title{
    background-color: darkgreen;
    margin: 0px;
    padding: 20px;
    padding-left: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.main-content{
    display:block;
    border:100px;
    background-color: lightgreen;
    padding:20px;
    margin: 30px;
}